
<% if @appointment.status=="approve" %>
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>approved!</strong> Your appointment is fixed, hope to see you on time
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
  </button>
</div>
   <% elsif @appointment.status=="pending" %>
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>pending!</strong> You appointment has been requested, wait for aproval
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
  </button>
</div>
   <% elsif @appointment.status=="done" %>
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>done!</strong> Thank you for visiting, Hope for your well being
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
  </button>
</div>
   <% else %>
   <div class="alert alert-warning alert-dismissible fade show" role="alert">
   <strong>cancelled!</strong> Sorry Your appointment is cancelled, You can change the time of appointment
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
     <span aria-hidden="true">&times;</span>
  </button>
</div>
  <% end %>


<div class="card">
  <h5 class="card-header">Appointment details</h5>
  <div class="card-body">
    <p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @appointment.age %>
</p>

<p>
  <strong>Disease:</strong>
  <%= @appointment.disease %>
</p>

<p>
  <strong>Date:</strong>
  <%= @appointment.day %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time.strftime("%I:%M") %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @appointment.phone %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @appointment.gender %>
</p>
<p>
  <strong>status:</strong>
  <% if @appointment.status=="approve" %>
  <strong class="color-orange"><%= @appointment.status %></strong>
   <% elsif @appointment.status=="pending" %>
   <strong class="color-yellow"><%= @appointment.status %></strong>
   <% elsif @appointment.status=="done" %>
   <strong class="color-green"><%= @appointment.status %></strong>
   <% else %>
  <strong class="color-red"><%= @appointment.status %></strong>
  <% end %>
</p>

<% if @appointment.status!="done" %>
<div class="btn-group" role="group" aria-label="Basic example">
<%= link_to 'edit', edit_appointment_path, class:"btn btn-secondary" %>
<%= link_to 'Back', appointments_path, class:"btn btn-secondary" %>
<% end %>
  </div>
</div>




